.chess-piece {
    position: absolute;
    z-index: 10;
    text-align: center;
}

.chess-marker {
    position: absolute;
    z-index: 5;
    text-align: center;
}

.chess-board {
    width: 100%;
    height: 100%;
    border-spacing: 0;
}

.chess-square {
}

.move-list {
    margin-left: 20px;
}

.line-div {
    display: flex;
    margin-bottom: 3px;
}

.score-div {
    padding: 5px;
    border-radius: 5px;
}

.move-div {
    padding: 5px;
}
